@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', serif;
}

body {
  background-color: #333;
}

.container {
  width: 90%;
  max-width: 401px;
  background: linear-gradient(135deg, #00febad3, #5b548a);
  color: #fff;
  margin: 80px auto 0;
  border-radius: 20px;
  padding: 40px 35px;
  text-align: center;
}

.search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 30px;
}

.search input {
  flex: 1;
  border: 0;
  outline: 0;

  color: #333;
  padding: 10px 25px;
  border-radius: 30px;
  height: 45px;
  margin-right: 16px;
  font-size: 16px;
}

.search-btn {
  border: 0;
  outline: 0;
  background-color: #fff;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-btn img {
  width: 16px;
}

.weather-icon {
  width: 130px;
  margin-top: 30px;
}

.temperature {
  font-size: 40px;
  font-weight: 500;
}

.city {
  font-size: 30px;
  font-weight: 400;
  margin-top: 0px;
}

.description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 50px;
}

.weather-type {
  display: flex;
  align-items: center;
  text-align: left;
}

.weather-type img {
  width: 40px;
  margin-right: 10px;
}

.humidity,
.wind {
  font-size: 23px;
  margin-top: -5px;
  margin-bottom: 5px;
}

.weather {
  display: none;
}

@media (max-width: 440px) {
  .humidity,
  .wind {
    font-size: 1.1rem;
  }

  .description {
    padding: 0;
  }

  .container {
    padding: 40px 25px;
  }
}
